body {
  background-color: #08C;
}

dd {
  margin-bottom: 10px;
}

#main-nav {
  margin-bottom: 0;
}

#container {
  background-color: white;

  #main-row {
    padding: 10px;
  }
}

.modal {
  display: block;
}
